@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #efefef;

    /* GRID layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto;
    grid-template-areas: 
        "cabecera"
        "principal"
        "pie";
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #630000, #c96262);
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
    box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}

/* generalizando enlaces */
a {
    text-decoration: none;
    font-weight: bold;
}

/* HEADER */
header {
    grid-area: cabecera;

    position: sticky;
    top: 0;
    z-index: 100; /* si se desactiva la paginacion se superpone sobre le menu */

    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div.header__logo {
    width: 100%;
}

header div.header__logo img.logo--desktop {
    width: 100%;
    height: 200px;
    background-color: #fff;
    object-fit: fill;
}

/* NAV */
header nav.navbar {
    width: 100%;
    background-color: #630000;
}

header img.logo--navbar {    
    width: 90px;
    height: 50px;
    display: none;
}

header nav.navbar button.navbar-toggler {
    /* margin-top: 15px; */
    border-color: #fff;
}

header nav.navbar button span.fa-bars {
    color: white;
}

header nav.navbar a.navbar-brand {
    color: #fff;
}

header nav ul li.nav-item {
    margin: auto 15px;
    list-style-type: none;
    display: inline-block;
    /* color: #fff; */
    cursor: pointer;
    transition: transform .3s ease-out;
}

header nav.navbar div ul.navbar-nav li a.nav-link {
    color: #fff;
    font-size: 1rem;
}

header nav ul li.nav-item:hover { 
    color: #fff;
    transform: translateY(5px);    
}

input.searchBlock {
    width: 200px;
    font-size: 16px;
    padding: 5px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

header nav form.d-flex button.btn-outline-success {
    background-color: #630000;
    border: 1px solid #efefef;
    margin: auto 3px;
}

header nav form.d-flex button.btn-outline-success i {
    color: #fff;
}
/* ### */

/* MAIN */
main {
    grid-area: principal;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    min-height: calc(100vh - auto); /* esto corrige el movimiento del footer  */
    margin: 50px;
    padding: 15px;
    background-color: #efefef;
    border-top: 3px solid #630000;
    border-bottom: 3px solid #630000;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .5);
}

/* HOME PAGE */
section.container--home{
    display: flex;
    justify-content: center;
    align-items: center;
}
article.home__img {
    width: 90%;
}

article.home__img img.chuleton {
    width: 100%;
    border: 4px solid #630000;
    border: none;
    border-radius: 5px;
    /* opacity: .7; */
}

article.home__reseña {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.118);
    border-radius: 5px;
    border: 3px solid #630000;
    margin: 15px 30px; 
}

article.home__reseña p{
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
/* END HOME PAGE */

section { /* revisar esto para que no se pisen los estilos del home */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

article.items__gallery {
    width: 250px;
    /* height: auto; */
    margin: 10px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

section article.items__gallery img {
    width: 100%;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} 

section article.items__gallery:hover {
    /* border: 2px solid #890F0D; */
    /* cursor: pointer; */
    transform: scale(.9, .9);
    transition: all ease-in-out .5s;
}

section article.items__gallery button.btn-comprar {
    cursor: pointer;
    border-radius: 5px;
    background-color: #630000;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 5px;
    margin: 10px auto;
    width: 50%;
}
/* efecto sobre el btn de compra */
section article.items__gallery button.btn-comprar:hover {
    background-color: #efefef;
    border: 1px solid #630000;
    color: #630000;
    
}

/* paginacion */
nav ul li.page-item a.page-link {
    color: #fff;
    background-color: #630000;
    transition: transform .2s ease-out;
}

nav ul li.page-item a.page-link:hover {
    background-color: #efefef;
    color: #630000;
    border: 1px solid #630000;
    transform: translateY(-5px);
}

nav.paginas {
    margin-top: 15px;
}
/* end main */

/* seccion de contactos */
div.mapas iframe.mapa__locales {
    border: 3px solid #630000;
    border-radius: 5px;
    width: auto;
    height: 330px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

div.contactInfo__container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    width: 100%;
    border: 3px solid #630000;
    /* border: none; */
    border-radius: 5px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

div.contactInfo__container p {
    padding: 5px;
    margin: 3px;
    font-size: 1rem;
}

form.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    border-radius: 5px;
    background-color: #630000;
    width: 100%;
}

input[type=text], input[type=email], textarea {
    border: none;
    border-radius: 5px;
    padding: 3px;
}

input[type=submit], input[type=reset] {
    width: 100px;
}

form input.btn-primary {
    background-color: #efefef;
    color: #630000;
    border-color: #efefef;
}

form input.btn-primary:hover {
    background-color: #efefef;
    color: #630000;
    border: 1px solid #630000;
}
/* end seccion de contactos */


/* FOOTER */
footer {
    grid-area: pie;

    border-top: 2px solid #890F0D;
    background-color: #D3D6DB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    width: 100%;
    height: auto;
    padding: 10px;    
}

footer ul.footer__ul {
    padding: 0;
}

footer ul.footer__ul li.footer__li {
    display: inline-block;
    list-style-type: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background-color: #630000;
    padding: 10px;
    margin: auto 5px;
    cursor: pointer;
    transition: transform .3s ease-out;
}

footer ul.footer__ul li.footer__li:hover {
    /* background-color: #efefef; */ /* opcional */
    transform: translateY(8px);
}

footer i.fas, i.fab {
    width: 100%;
    color: #efefef;
}

/* aplicar esta posicion solo en mobile */
/* footer ul li.btn-wpp {
    position: absolute;
    top: -15%;
    right: 10px;
} */

footer #copy {
    margin: 10px auto;
    text-transform: capitalize;
}

footer div.footer__animacion {
    width: 280px;
    height: 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    line-height: 20px;

    display: flex;
    justify-content: center;
   
    text-transform: capitalize;
    background-color: #630000;
    color: #efefef;

    overflow: hidden;
}

footer div.footer__animacion ul.ul--transition {
    list-style-type: none;
    padding-left: 10px;
    animation: cambio 6s infinite;

}

footer ul, p.msj_animado {
    margin: 0;
}

/* animacion de footer */
@keyframes cambio {

    0% { margin-top: 0;}
    20% { margin-top: 0;}

    25% { margin-top: -20px;}
    50% { margin-top: -20px;}

    55% { margin-top: -40px;}
    80% { margin-top: -40px;}

    85% { margin-top: -20px;}
    95% { margin-top: -20px;}

    100% { margin-top: 0;}
}
/* #### */

/* Media QUERIES */
    /* hasta 425px */
@media screen and (max-width: 475px) {

    /* Header */
    header div.header__logo img.logo--desktop {
        display: none;
    }
    
    header img.logo--navbar {
        display: inline-block;
        width: auto;
    }
    
    header nav.navbar button.navbar-toggler {
        border-color: #fff;
    }

    header nav.navbar button span.fa-bars {
        color: white;
    }

    input.searchBlock { /* no aumentar porque se esconde el btn de menu en pantallas menores a 350px aprox */
        width: 90%;
    }
    /* ### */

    /* main */
    main {
        margin: 15px;
    }

    article.items__gallery {
        width: 215px;
    }

    section article.items__gallery:hover {
        transform: none;
        transition: none;
    }
    
    nav ul li.page-item a.page-link:hover {
        transform: none;
    }

    /* paginacion */
    nav ul li.page-item a.page-link:hover {
        transform: none;
    }
    /* #### */

    /* contacto */
    /* mapas */
    div.mapas iframe.mapa__locales {
        width: 90%;
        height: 250px;
        margin: auto 10px;
    }

    /* horarios */
    div.contactInfo__container {
        margin: 10px;
        width: 90%;
    }

    form.formulario {
        margin: auto 10px;
        width: 90%;
    }
    
    input[type=text], input[type=email], textarea {
        border: none;
        border-radius: 5px;
        padding: 3px;
    }
    
    input[type=submit], input[type=reset] {
        width: 90px;
    }

    /* footer  */
    footer ul.footer__ul li.footer__li:hover {
        transform: none;
    }
}
/* 
@media screen and (max-width: 425px) and (orientation: landscape) {

    header div.header__logo img.logo--desktop {
        display: none;
    }

    header img.logo--navbar {
        display: inline-block;
        width: auto;
    }
} */


