@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  font-weight: bold; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px; }

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #630000, #c96262);
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px; }

header {
  grid-area: cabecera;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 15px black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header div.header__logo {
    width: 100%; }
    header div.header__logo img.logo--desktop {
      width: 100%;
      height: 150px;
      background-color: #fff;
      object-fit: fill; }
  header nav.navbar {
    width: 100%;
    background-color: #630000; }
    header nav.navbar a.navbar-brand {
      color: #fff; }
      header nav.navbar a.navbar-brand img.logo--navbar {
        width: 90px;
        height: 50px;
        display: none; }
    header nav.navbar button.navbar-toggler {
      border-color: #fff; }
      header nav.navbar button.navbar-toggler span.fa-bars {
        color: white; }
    header nav.navbar ul.navbar-nav li.nav-item {
      margin: auto 15px;
      list-style-type: none;
      display: inline-block;
      cursor: pointer;
      transition: transform .3s ease-out; }
      header nav.navbar ul.navbar-nav li.nav-item a.nav-link {
        color: #fff;
        font-size: 1rem; }
      header nav.navbar ul.navbar-nav li.nav-item:hover {
        color: #fff;
        transform: translateY(5px); }
    header nav.navbar form.d-flex input.searchBlock {
      width: 200px;
      font-size: 16px;
      padding: 5px;
      background-color: #fff;
      border: none;
      border-radius: 5px; }
    header nav.navbar form.d-flex button.btn-outline-success {
      background-color: #630000;
      border: 1px solid #efefef;
      margin: auto 3px; }
      header nav.navbar form.d-flex button.btn-outline-success i.fas {
        color: #fff; }
      header nav.navbar form.d-flex button.btn-outline-success span.contador {
        margin-left: 2px;
        color: #efefef; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5; }

.modal-carrito {
  position: relative;
  background-color: white;
  border: 1px solid #e14c41;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: #e14c41;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #e14c41;
  border: none;
  background-color: white; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.card .card-image .card-title {
  color: #e14c41;
  position: unset; }

footer {
  grid-area: pie;
  border-top: 2px solid #630000;
  background-color: #D3D6DB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  padding: 10px; }
  footer ul.footer__ul {
    padding: 0; }
    footer ul.footer__ul li.footer__li {
      display: inline-block;
      list-style-type: none;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      background-color: #630000;
      padding: 10px;
      margin: auto 5px;
      cursor: pointer;
      transition: transform .3s ease-out; }
      footer ul.footer__ul li.footer__li:hover {
        transform: translateY(8px); }
  footer i.fas, footer i.fab {
    width: 100%;
    color: #fff; }
    footer i.fas a, footer i.fab a {
      width: 100%; }
  footer #copy {
    margin: 10px auto;
    text-transform: capitalize; }
  footer div.footer__animacion {
    width: 280px;
    height: 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    background-color: #630000;
    color: #fff;
    overflow: hidden; }
    footer div.footer__animacion ul.ul--transition {
      list-style-type: none;
      padding-left: 10px;
      animation: cambio 6s infinite; }
    footer div.footer__animacion ul, footer div.footer__animacion p.msj_animado {
      margin: 0; }

@keyframes cambio {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  25% {
    margin-top: -20px; }
  50% {
    margin-top: -20px; }
  55% {
    margin-top: -40px; }
  80% {
    margin-top: -40px; }
  85% {
    margin-top: -20px; }
  95% {
    margin-top: -20px; }
  100% {
    margin-top: 0; } }

@media screen and (max-width: 475px) {
  header div.header__logo img.logo--desktop {
    display: none; }
  header nav.navbar img.logo--navbar {
    display: inline-block;
    width: auto; }
  header nav.navbar button.navbar-toggler {
    border-color: #fff; }
    header nav.navbar button.navbar-toggler span.fa-bars {
      color: #fff; }
  header nav.navbar input.searchBlock {
    width: 90%; }
  main {
    margin: 15px; }
    main article.items__gallery {
      width: 215px; }
      main article.items__gallery:hover {
        transform: none;
        transition: none; }
    main nav ul li.page-item a.page-link:hover {
      transform: none; }
    main nav ul li.page-item a.page-link:hover {
      transform: none; }
    main div.mapas iframe.mapa__locales {
      width: 90%;
      height: 250px;
      margin: auto 10px; }
    main div.contactInfo__container {
      margin: 10px;
      width: 90%; }
    main form.formulario {
      margin: auto 10px;
      width: 90%; }
    main input[type=text], main input[type=email], main textarea {
      border: none;
      border-radius: 5px;
      padding: 3px; }
    main input[type=submit], main input[type=reset] {
      width: 90px; }
  footer ul.footer__ul li.footer__li:hover {
    transform: none; } }

@media screen and (max-width: 768px) {
  header div.header__logo img.logo--desktop {
    display: none; }
  header nav.navbar div.container-fluid a.navbar-brand img.logo--navbar {
    display: inline-block;
    width: auto; } }

body {
  background-color: #efefef;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr auto;
  grid-template-areas: "cabecera" "principal" "pie";
  height: 100vh; }

main {
  grid-area: principal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(100vh - auto);
  margin: 50px;
  padding: 15px;
  background-color: #efefef;
  border-top: 3px solid #630000;
  border-bottom: 3px solid #630000;
  border-radius: 5px;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.5); }
  main section.container--home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    main section.container--home article.home__img {
      width: 95%; }
      main section.container--home article.home__img img.chuleton {
        width: 100%;
        border-radius: 5px; }
    main section.container--home article.home__reseña {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: rgba(51, 51, 51, 0.118);
      border-radius: 5px;
      border: 3px solid #630000;
      margin: 15px 30px; }
      main section.container--home article.home__reseña p {
        padding: 5px;
        font-size: 20px;
        text-align: center; }
  main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    main section article.items__gallery {
      width: 300px;
      height: auto;
      margin: 10px;
      padding: 0px;
      border-radius: 5px;
      box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: capitalize; }
      main section article.items__gallery img {
        width: 100%;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      main section article.items__gallery h5 {
        text-align: center;
        margin-top: 10px; }
      main section article.items__gallery p {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        margin: 5px auto; }
      main section article.items__gallery button.btn-agregar,
      main section article.items__gallery button.btn-borrar {
        cursor: pointer;
        border-radius: 5px;
        background-color: #630000;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        border: none;
        padding: 5px;
        margin: 5px auto 10px;
        width: 50%; }
        main section article.items__gallery button.btn-agregar:hover,
        main section article.items__gallery button.btn-borrar:hover {
          background-color: #efefef;
          border: 1px solid #630000;
          color: #630000; }
  main nav.paginas {
    margin-top: 15px; }
    main nav.paginas ul.pagination li.page-item a.page-link {
      color: #fff;
      background-color: #630000;
      transition: transform .2s ease-out; }
      main nav.paginas ul.pagination li.page-item a.page-link:hover {
        background-color: #efefef;
        color: #630000;
        border: 1px solid #630000;
        transform: translateY(-5px); }
  main div.form__container div.row div.mapas iframe.mapa__locales {
    border: 3px solid #630000;
    width: auto;
    height: 300px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5); }
  main div.form__container div.row div.info div.contactInfo__container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 3px solid #630000;
    border-bottom: 3px solid #630000;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; }
    main div.form__container div.row div.info div.contactInfo__container p.direcciones {
      margin: 3px;
      font-size: 1rem; }
  main div.form__container div.row div.formulario form.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #630000;
    width: 100%; }
    main div.form__container div.row div.formulario form.formulario input[type=text],
    main div.form__container div.row div.formulario form.formulario input[type=email],
    main div.form__container div.row div.formulario form.formulario input[type=tel],
    main div.form__container div.row div.formulario form.formulario textarea {
      border: none;
      border-radius: 5px;
      padding: 5px; }
    main div.form__container div.row div.formulario form.formulario input.form-correcto,
    main div.form__container div.row div.formulario form.formulario textarea.form-correcto {
      border: 3px solid #29bb41; }
    main div.form__container div.row div.formulario form.formulario input.form-incorrecto,
    main div.form__container div.row div.formulario form.formulario textarea.form-incorrecto {
      border: 3px solid #ff0000; }
    main div.form__container div.row div.formulario form.formulario input.btn-primary, main div.form__container div.row div.formulario form.formulario input[type=submit], main div.form__container div.row div.formulario form.formulario input[type=reset] {
      background-color: #efefef;
      color: #630000;
      border-color: #630000; }
      main div.form__container div.row div.formulario form.formulario input.btn-primary:hover, main div.form__container div.row div.formulario form.formulario input:hover[type=submit], main div.form__container div.row div.formulario form.formulario input:hover[type=reset] {
        color: #fff;
        border: 1px solid #efefef; }
    main div.form__container div.row div.formulario form.formulario input[type=submit] {
      width: 100px;
      background-color: #efefef;
      color: #630000; }
      main div.form__container div.row div.formulario form.formulario input[type=submit]:hover {
        background-color: #51b04e; }
    main div.form__container div.row div.formulario form.formulario input[type=reset] {
      width: 100px;
      background-color: #efefef;
      color: #630000; }
      main div.form__container div.row div.formulario form.formulario input[type=reset]:hover {
        background-color: #949494; }
    main div.form__container div.row div.formulario form.formulario p#msjEnviado {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
