header {
    grid-area: cabecera;

    position: sticky;
    top: 0;
    z-index: 100; // si se desactiva la paginacion se superpone sobre le menu

    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.header__logo {
        width: 100%;
        
        img.logo--desktop {
            width: 100%;
            height: 150px;
            background-color: #fff;
            object-fit: fill;
        }
    }

    // NAVBAR
    nav.navbar {
        width: 100%;
        background-color: #630000;

        a.navbar-brand {
            color: #fff;

            img.logo--navbar {    
                width: 90px;
                height: 50px;
                display: none;
            }
        }

        button.navbar-toggler {
            border-color: #fff;

            span.fa-bars {
                color: white;
            }
        }

        ul.navbar-nav {

            li.nav-item{
                margin: auto 15px;
                list-style-type: none;
                display: inline-block;
                cursor: pointer;
                transition: transform .3s ease-out;

                a.nav-link {
                    color: #fff;
                    font-size: 1rem;
                }

                &:hover { 
                    color: #fff;
                    transform: translateY(5px);    
                }
            }
        }

        form.d-flex {

            input.searchBlock {
                width: 200px;
                font-size: 16px;
                padding: 5px;
                background-color: #fff;
                border: none;
                border-radius: 5px;
            }

            button.btn-outline-success {
                background-color: #630000;
                border: 1px solid #efefef;
                margin: auto 3px;

                i.fas {
                    color: #fff;
                }
            }
        }
    }
}