$primaryColorBG: #efefef;
$secondaryColorBG: #630000;
$primaryFontColor: #fff;
$secondaryFontColor: #630000;
$primaryBtnColor: #630000;
$secondaryBtnColor: #fff;

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: $primaryColorBG;
  border: 1px solid $secondaryColorBG;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
  border-radius: 5px;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: $secondaryFontColor;
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65);
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
}
.card .card-image .card-title {
  color: rgb(225, 76, 65);
  position: unset;
}

.productoEnCarrito {
  border-left: 5px solid $primaryBtnColor;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
  background-color: #fff;
  color: $primaryBtnColor;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}

.loading{
  margin: auto;
  width: 43%;
}